<template>

  <div class="wrapper" @longpress="onlongpress">
    <div class="panel">
   <div class="panel-header">
     <text class="panel-title">Refinn Realtime Report</text>
   </div>
   <div class="panel-content">
<div class="group-wrapper">
        <div class="group">
      <text class="title">Unique Visitor :</text>
      <text class="data">{{pageview}}</text>
    </div>
    <div class="group">
      <text class="title">Submitted :</text>
      <text class="data">{{submitted}}</text>
    </div>
    <div class="group">
      <text class="title">Approved :</text>
      <text class="data">{{approved}}</text>
    </div>
</div>
   </div>
    </div>
    
        <div class="panel">
   <div class="panel-header">
     <text class="panel-title">User Online</text></text>
   </div>
   <div class="panel-content">
<div class="group-wrapper">
        <div class="group">
      <text class="title">Registered User :</text>
      <text class="data">10</text>
      
    </div>
    <div class="group">
      <text class="title">Guest :</text>
      <text class="data">50</text>
    </div>
</div>
   </div>
    </div>
    
  </div>
  
  
</template>
<script>
const modal = weex.requireModule('modal')
var stream = weex.requireModule('stream')
export default {
  data() {
    return {
      reload_msg: 'Fetching data..',
      pageview: this.reload_msg,
      submitted: this.reload_msg,
      approved: this.reload_msg
      
    }
  },
  methods: {
    onlongpress (event) {
        console.log('onlongpress:', event)
        this.reload()
        modal.toast({

          message: this.reload_msg,
          duration: 0.8
        })
      },
    refinnAPI(callback) {
      return stream.fetch({
        method: 'GET',
        type: 'json',
        url: 'http://weex-api.dev/api/getarray'
      }, callback)
    },
    reload: function() {
      this.pageview = this.reload_msg
      this.submitted = this.reload_msg
      this.approved = this.reload_msg

      this.refinnAPI(res => {
        this.pageview = res.ok ? res.data.pageview : '(network error)'
        this.submitted = res.ok ? res.data.summited : '(network error)'
        this.approved = res.ok ? res.data.approved : '(network error)'
      })
    }
  },
  created() {
    this.reload()
  }
}
</script>
<style scoped>

.wrapper {
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  padding: 30px;
  /*background: #E0EAF8;*/
  display: block;
  width:100%;
}

.panel {
  background-color: #ecf0f1;
  box-shadow: 10px 10px 5px grey;
 margin: 15px;
 margin-bottom: 50px;

}

.panel-title {
  font-size: 35px;
  color: #FFFFFF;
  letter-spacing: 3px;
  padding: 20px;
  }
  
.panel-header {
  background-color: #3498db;
  color: #ecf0f1;
}

.group-wrapper {
  padding: 30px;
}
.group {
  
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  display:flex;
}

.title {
  font-size: 35px;
  color: #888888;
letter-spacing: 2px;
}

.data {
  font-size: 35px;
  font-weight: bold;
  margin-left: 12px;
  color: #41B883;
  letter-spacing: 1px;
 flex: 1;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>